.butt_mention:hover{
    color:royalblue;
}
.modalContainer{
    height:75vh;
    overflow-y:auto;
    overflow-x:hidden;
    padding-right:1%;
}
.report_modal{
    height:75vh;
    overflow-y:auto;
    overflow-x:hidden;
    padding-right: 1%;
}
.modalContainer::-webkit-scrollbar, .report_modal::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.modalContainer::-webkit-scrollbar-track, .report_modal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px darkgrey;
    border-radius: 10px;
}

/* Handle */
.modalContainer::-webkit-scrollbar-thumb, .report_modal::-webkit-scrollbar-thumb {
    background: dodgerblue;
    border-radius: 10px;
}

/* Handle on hover */
.modalContainer::-webkit-scrollbar-thumb:hover, .report_modal::-webkit-scrollbar-thumb:hover {
    background: dodgerblue;
}
.annotations_li{
    margin-bottom: 4%;
}
