.button_x{
    margin:0px;
    border: 0px;
    padding:0px;
    color: black;
    text-align: center;
    /*float: right;*/
}
.button_x:hover{
    margin:0px;
    border: 0px;
    padding:0px;
    color: blue;
    /*float: right;*/
    text-align: center;

    background-color: white;
}
.add_m{
    margin-bottom: 2% !important;
    color: royalblue !important;
}
.button_l{
    margin: 0px;
    border: 0px;
    padding:0px;
    color: black;
    float:right;

}
.linkedElement{
    margin-bottom: 20px;
    margin-top: 20px;
}

.add_but{

    margin-right:10px;
    margin-top:0px;
    margin-left:0px;
    margin-bottom:0px;
}
.butt_linked{
    background-color: white;
    border: 0px;
    margin: 0px;
    padding: 0px;

}
.butt_linked:hover{
    background-color: white;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;

}

.button_link{
    color: white;
    font-weight: bold;
    margin-right:5px;
    float: right;
    margin-bottom:0px;
}
/*.selection{*/
/*    width:280px;*/
/*}*/
.addForm{
    margin-top:10px;
    margin-bottom:10px;
    width:95%;
}
.confirmButtons{
    margin-top: 20px;
}
/*.association{*/
/*    font-size: 1rem;*/
/*}*/

.mentAndButt{
    /*font-size: 17px;*/
    /*margin-bottom: 15px;*/
}
.div_button:hover{
    font-weight: bold;
}

.linked-list, .quick_tutorial{
    height: calc(65vh - 150px);

    overflow-y:auto;
    overflow-x: hidden;
    padding-right:10px;
    padding-left:15px;

}


.linked-list::-webkit-scrollbar, .quick_tutorial::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.linked-list::-webkit-scrollbar-track,.quick_tutorial::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px darkgrey;
    border-radius: 10px;
}

/* Handle */
.linked-list::-webkit-scrollbar-thumb,.quick_tutorial::-webkit-scrollbar-thumb {
    background: dodgerblue;
    border-radius: 10px;
}

/* Handle on hover */
.linked-list::-webkit-scrollbar-thumb:hover,.quick_tutorial::-webkit-scrollbar-thumb:hover {
    background: dodgerblue;
}

.headModal:hover{
    cursor: grab;
}
.headModal:active{
    cursor: grabbing;
}