.form-label{
    width:100%;
}
.back-button,.back-button:hover{
    background-color: white;
    border: none;
    color: midnightblue;
}
.back-button:hover{
    font-weight: bold;
    color: royalblue;
}
.delete-button,.delete-button:hover{
    padding:0;
    background-color: white;
    border: none;
    color: red;
}
.delete-button:hover{
    padding:0;
    font-weight: bold;
    color: red;
}
.conf-div{
    float:right;
}
.examples{
    text-align: left;
    font-size: 0.9rem;
}
.MuiCollapse-wrapper{
    margin-top: 0 !important;
}